.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
# Custom
.cache

testing.ipynb
testing.json
sample.json
tam.json
tas.json
tsm_a.json
tsm.json
tss_a.json
tss.json
notion.py
user_info.json
venv.zip
.vercel
